@font-face {
  font-family: 'Benguiat';
  src: url("../fonts/BenguiatBold.ttf");
}

//animação do texto infinito
@keyframes textoInfinito {
  100% {
    transform: translateX(-100%);
  }
}

html, body {
  overflow-x: hidden !important;
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins";
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 9;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #fff;
  outline: none;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/bg-footer.webp');
  background-size: cover;
  background-position: center;
}

footer .content-footer {
  display: flex;
  width: 100%;
  padding: 7vw;
}

footer .content-footer .logo-footer {
  width: 30%;
}

footer .content-footer .logo-footer h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 4px;
}

footer .content-footer .logo-footer h2 {
  font-size: 3.7vw;
  font-family: 'Benguiat', sans-serif;
}

footer .content-footer .section-footer {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 6%;
  align-items: flex-end;
}

footer .content-footer .section-footer h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}

footer .content-footer .section-footer .social-media ul {
  display: flex;
  gap: 12px;
}

footer .content-footer .section-footer .institutional nav ul li a {
  color: white;
}

footer .logos-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
}

footer .textoInfinito {
  width: max-content;
  display: flex;
}

footer .textoInfinito h3 {
  color: rgba(191, 191, 191);
  font-size: 12vw;
  font-family: 'Benguiat', sans-serif;
  mix-blend-mode: color-dodge;
  padding: 0 4vw;
  animation: textoInfinito 10s infinite linear;
}

.heroes {
  height: 100vh;
  background-position: 50% 0%;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;
  position: relative;
}

.heroes picture {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.heroes picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.heroes .right, .left {
  width: 30%;
  z-index: 3;
}

.heroes .left h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 42%;
}

.heroes .left h1 {
  font-family: 'Benguiat', sans-serif;
  font-size: 3.7vw;
}

.heroes .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heroes .right p {
  font-size: 2vw;
  margin-bottom: 32px;
  text-align: end;
}

.heroes:before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(12, 1, 2, 0.00) 0%, #0C0102 100%);
}

.monster {
  background-image: url('../img/bg-sec2.webp');
  background-position: center;
  background-size: cover;
  background-color: #0c0102;
  position: relative;
  z-index: 2;
  
}

.monster .cities {
  flex-direction: column;
  
}

.monster .cities .titles-cities {
  display: flex;
  justify-content: space-between;
  alin-items: center;
}

.monster .cities .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.monster .cities .cards .card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url('../img/card1.webp');
  background-size: cover;
  background-position: canter;
  width: 32%;
  aspect-ratio: 16/9;
  padding: 20px;
}

.monster .cities .cards .card:nth-child(2) {
  background-image: url('../img/card2.webp');
}

.monster .cities .cards .card:nth-child(3) {
  background-image: url('../img/card3.webp');
}

.monster .testimonials {
  flex-direction: column;
}

.monster .testimonials .logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.monster .testimonials .statements {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.monster .testimonials .statements .declaration {
  width: 31%;
}

.thanks {
  flex-direction: column;
  align-items: center;
}

.thanks ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

//responsividade
@media (max-width: 1500px) {
  .monster .cities {
    padding: 4vw;
  }
}

@media (max-width: 1400px) {
  .monster .cities .cards .card {
        flex-direction: column;
        justify-content: flex-end;
        align-items: start;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 6vw;
  }

  .heroes {
    padding: 0 5vw 30vw 5vw;
  }

  .heroes .right p {
    font-size: 2.3vw;
  }

  .monster .cities .titles-cities {
    align-items: center;
  }

  .monster .cities .cards .card h3, p {
    font-size: 14px;
  }

  .thanks ul {
    flex-wrap: wrap;
    gap: 32px;
  }

  footer .content-footer {
    padding: 5vw;
  }

  footer .content-footer .section-footer {
    gap: 4%;
  }

  footer .content-footer .section-footer h3 {
    font-size: 14px;
  }

  footer .content-footer .section-footer .social-media ul {
    gap: 8px;
  }

  footer .content-footer .section-footer .media-partners img {
        width: 100%;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 6vw;
  }

  header h2 {
      font-size: 28px;
  }

  .heroes {
    flex-direction: column;
    padding: 26% 4vw 0;
  }

  .heroes .right, .left {
    width: 100%;
  }

  .heroes .left h3, h1 {
    text-align: center;
  }

  .heroes .left h1 {
    font-size: 7.5vw;
  }

  .heroes .right {
    align-items: center;
  }

  .heroes .right p {
    text-align: center;
    font-size: 5.5vw;
    margin-bottom: 16px;
  }

  .monster .cities {
    margin-top: 60px;
  }

  .monster .cities .titles-cities {
    justify-content: center;
  }

  .monster .cities button {
    display: none;
  }

  .monster .cities .cards {
    margin-top: 20px;
    flex-direction: column;
    gap: 20px;
  }

  .monster .cities .cards .card {
    width: 100%;
  }

  .monster .testimonials .logo img:nth-child(1), img:nth-child(3) {
    width: 20%;
  }
  .monster .testimonials .logo img:nth-child(2) {
    width: 40%;
  }

  .monster .testimonials .statements {
    flex-direction: column;
    gap: 48px;
  }

  .monster .testimonials .statements .declaration {
    width: 100%;
  }

  .thanks {
    margin: 40px 0 60px;
  }

  .thanks h2 {
    text-align: center;
  }
  .thanks ul {
    width: max-content;
    gap: 32px;
  }

  .thanks ul li {
    animation: textoInfinito 10s infinite linear;
  }

  footer {
    padding: 40px;
  }

  footer .content-footer {
    padding: 4vw;
    flex-direction: column;
  }

  footer .content-footer .logo-footer {
    width: 100%;
    text-align: center;
  }

  footer .content-footer .logo-footer h2 {
    font-size: 11vw;
  }

  footer .content-footer .section-footer {
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }

  footer .content-footer .section-footer .social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
  }

  footer .content-footer .section-footer .media-partners, .institutional {
    margin-bottom: 40px;
  }

  footer .content-footer .section-footer .media-partners {
    width: 50%;
  }

  footer .content-footer .section-footer .media-partners img {
    width: 100%;
  }

  footer .infinite-text h3 {
    font-size: 25vw;
  }
}

@media (max-width: 375px) {
  footer .logos-footer {
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin: 0 0 32px 0;
  }
        
  footer .logos-footer img {
    width: 25vw;
  }
}