@font-face {
  font-family: 'Benguiat';
  src: url(../fonts/BenguiatBold.ttf);
}

html, body {
  overflow-x: hidden !important;
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 2;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  gap: 12px;
  display: flex;
  justify-content: flex-end;
  padding: 16px 0px;
  border-bottom: 1px solid #fff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/bg-footer.webp');
  background-size: cover;
  background-position: center;

  .content-footer {
    display: flex;
    width: 100%;
    padding: 7vw;

    .logo-footer {
      width: 30%;

      h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 3.7vw;
        font-family: 'Benguiat', sans-serif;
      }
    }

    .section-footer {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 6%;
      align-items: flex-end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .social-media {
        ul {
          display: flex;
          gap: 12px;
        }
      }
      .institutional {
        nav {
          ul {
            li {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .logos-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .infinite-text {
    width: max-content;
    display: flex;
    h3 {
      color: rgba(191, 191, 191);
      font-size: 12vw;
      font-family: 'Benguiat', sans-serif;
      mix-blend-mode: color-dodge;
      padding: 0 4vw;
      animation: infiniteText 25s infinite linear;
    }
  }
}

//animação do texto infinito no footer
@keyframes infiniteText {
  100% {
    transform: translateX(-100%);
  }
}

.heroes {
  background-image: url('../img/hero.webp');
  height: 100vh;
  background-position: 50% 0%;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 7vw 7vw 7vw;

  .right,
  .left {
    width: 30%;
  }

  .left {
    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 42%;
    }

    h1 {
      font-family: 'Benguiat', sans-serif;
      font-size: 3.7vw;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.monster {
  background-image: url('../img/bg-sec2.webp');
  background-position: center;
  background-size: cover;
}

.cities {
  flex-direction: column;

  .titles-cities {
    display: flex;
    justify-content: space-between;
    alin-items: center;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;

    .card {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-image: url('../img/card1.webp');
      background-size: cover;
      background-position: canter;
      width: 32%;
      aspect-ratio: 16/9;
      padding: 20px;
      background-color: rgba(191, 191, 191, 0.9);
    }

    .card:nth-child(2) {
      background-image: url('../img/card2.webp');
    }

    .card:nth-child(3) {
      background-image: url('../img/card3.webp');
    }
  }
}

.testimonials {
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .statements {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;

    .declaration {
      width: 31%;
    }
  }
}

.thanks {
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
  }
}

//responsividade
@media (max-width: 1501px) {
  .cities .cards .card {
    padding: 12px;
  }
}

@media (max-width: 1500px) {
  .cities .cards .card {
    padding: 12px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  .heroes {
    padding: 0 5vw 30vw 5vw;

    .right {
      p {
        font-size: 2.3vw;
      }
    }
  }

  .cities .titles-cities {
    align-items: center;
  }

  .cities .cards .card {
    h3,
    p {
      font-size: 14px;
    }
  }

  .thanks ul {
    flex-wrap: wrap;
    gap: 32px;
  }

  footer {
    .content-footer {
      padding: 5vw;
      .section-footer {
        gap: 4%;
        h3 {
          font-size: 14px;
        }

        .social-media {
          ul {
            gap: 8px;
          }
        }

        .media-partners {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 6vw;
  }

  header {
    h2 {
      font-size: 28px;
    }
  }

  .heroes {
    flex-direction: column;
    padding: 26% 4vw 0 4vw;

    .left,
    .right {
      width: 100%;
    }

    .left {
      h3,
      h1 {
        text-align: center;
      }

      h1 {
        font-size: 11vw;
      }
    }
    .right {
      align-items: start;
      p {
        text-align: start;
        font-size: 5.5vw;
        margin-bottom: 16px;
      }
    }
  }

  .cities {
    margin-top: 60px;
    button {
      display: none;
    }

    .cards {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;

      .card {
        width: 100%;
      }
    }
  }

  .testimonials {
    .logo {
      img:nth-child(1),
      img:nth-child(3) {
        width: 20%;
      }
      img:nth-child(2) {
        width: 40%;
      }
    }

    .statements {
      flex-direction: column;
      gap: 48px;

      .declaration {
        width: 100%;
      }
    }
  }

  .thanks {
    margin: 40px 0px 60px 0px;

    h2 {
      text-align: center;
    }
    ul {
      width: max-content;
      gap: 32px;
      li {
        animation: infiniteText 25s infinite linear;
      }
    }
  }

  footer {
    padding: 40px;

    .content-footer {
      padding: 4vw;
      flex-direction: column;

      .logo-footer {
        width: 100%;
        text-align: center;

        h2 {
          font-size: 11vw;
        }
      }

      .section-footer {
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;

        .social-media {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin: 40px 0px;
        }

        .media-partners, .institutional {
          margin-bottom: 40px;
        }

        .media-partners {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }
    }

    .infinite-text h3{
      font-size: 20vw;
    }
}

@media (max-width: 375px) {
  .logos-footer {
        flex-direction: column;
        gap: 32px;
        margin: 0px 0px 32px 0px;
        

        img {
          width: 30vw;
        }
    }
}
