@font-face {
  font-family: 'Benguiat';
  src: url(../fonts/BenguiatBold.ttf);
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 2;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  gap: 12px;
  display: flex;
  justify-content: flex-end;
  padding: 16px 0px;
  border-bottom: 1px solid #fff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/bg-footer.webp');
  background-size: cover;
  background-position: center;

  .content-footer {
    display: flex;
    width: 100%;
    padding: 7vw;

    .logo-footer {
      width: 30%;

      h3 {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 4px;
      }

      h2 {
        font-size:3.7vw;
        font-family: 'Benguiat';
      }
    }

    .section-footer {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      gap: 6%;
      align-items: flex-end;

      h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
      }

      .social-media {
        ul {
          display: flex;
          gap: 12px;
        }
      }
      .institutional {
        nav {
          ul {
            li {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .logos-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .infinite-text {
    width: max-content;
    display: flex;
    h3 {
      color: rgba(191, 191, 191);
      font-size: 12vw;
      font-family: 'Benguiat', sans-serif;
      mix-blend-mode: color-dodge;
      padding: 0 4vw;
      animation: infiniteText 25s infinite linear;
    }
  }
}

@keyframes infiniteText {
  100% {
    transform: translateX(-100%);
  }
}

.heroes {
  background-image: url('../img/hero.webp');
  height: 100vh;
  background-position: 50% 0%;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 7vw 7vw 7vw;

  .right,
  .left {
    width: 30%;
  }

  .left {
    h3 {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 42%;
    }

    h1 {
      font-family: 'Benguiat';
      font-size: 3.7vw;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

.monster {
  background-image: url('../img/bg-sec2.webp');
  background-position: center;
  background-size: cover;
}

.cities {
  flex-direction: column;

  .titles-cities {
    display: flex;
    justify-content: space-between;
    alin-items: center;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;

    .card {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      background-image: url('../img/card1.webp');
      background-size: cover;
      background-position: canter;
      width: 32%;
      aspect-ratio: 16/9;
      padding: 20px;
    }

    .card:nth-child(2) {
      background-image: url('../img/card2.webp');
    }

    .card:nth-child(3) {
      background-image: url('../img/card3.webp');
    }
  }
}

.testimonials {
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .statements {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;

    .declaration {
      width: 31%;
    }
  }
}

.thanks {
  flex-direction: column;
  align-items: center;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
  }
}
